@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

input:focus-within ~ label,
input:not(:placeholder-shown) ~ label {
    @apply transform scale-75 -translate-y-6;
}

input:focus-within ~ label {
    @apply text-blue-500;
}